@use 'base/variables' as v;
@mixin phone{
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
    }}
@mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL{
    @media (min-width: v.$desktopXL) {
        @content;
    }
}
@mixin grid ($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: 5rem;
}
@mixin gridTest ($espaciado){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: $espaciado;
}
@mixin gridRow ($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    grid-template-rows: auto;
    gap: 4rem;
}
