//Tipografia
$fuente_principal: 'Open Sans', sans-serif;
$fuente_titulos: 'PT Sans', sans-serif;
//Dimension de media querys
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//Colores
$negro: #000;
$blanco: #fff;
$rojo: #ff0000;