@use 'base/variables' as v;
@use 'base/mixins' as m;

.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-image: none;
    background-color: v.$negro;
    height: 40rem;
    @include m.desktop {
        height: 80rem;
    }
}
@include m.tablet {
    .bannner-principal{
        background-image: url(../img/hxh.webp);
        background-position: center right;
    }
    .banner-catalogo{
        background-image: url(../img/chainsawmanbanner.webp);
        background-position: center center;
    }
    .banner-oferta{
        background-image: url(../img/jujutsuBanner.webp);
        background-position: center right;
    }
}

.barra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    padding: 2rem;
    .logo{
        .logo-texto{
            font-size: 4rem;
            margin-bottom: 1rem;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        height: 100%;
        .link{
            margin-right: 2rem;
        }
    }
    .form{
        display: flex;
        margin-top: 2rem;
        border-radius: .2rem;
        background-color: v.$blanco;
        width: 30rem;
        height: 3rem;
        input{
            border-radius: 1rem;
            width: 100%;
            border: none;
            &:focus-visible{
                outline: none;
            }
        }
        
        button {
            border: none;
            background-color: v.$blanco;
        }
        @include m.tablet {
            margin-top: 0;
        }
    }   
}
@include m.tablet {
    .barra{
        flex-direction: row; 
        justify-content: space-evenly;
        .logo{
            padding: 1rem;
        }
    }
}
.header__texto{
    margin-top: 2rem;
    color: v.$negro;
    background-color: v.$blanco;
    padding: 1rem 0;
    @include m.tablet {
        color: v.$blanco;
        background-color: rgba(0,0,0,0.6);
    } 
}
@include m.tablet {
    .header__texto{
        margin-top: 15rem;
    }
}
.header-producto{
    .barra{
        background-color: v.$negro;
        padding: 2rem;
        .logo__texto{
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        .menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            height: 100%;
            .link{
                margin-right: 2rem;
            }
        }
        .form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            border-radius: .2rem;
            background-color: v.$blanco;
            width: 100%;
            height: 3rem;
            input{
                border-radius: 1rem;
                width: 100%;
                border: none;
                &:focus-visible{
                    outline: none;
                }
            }
            
            .btn-secundario {
                border: none;
                background-color: v.$blanco;
            }
        }
    }
    @include m.tablet {
        .barra{
            display: flex;
            justify-content: space-around;
            .logo{
                padding: 1rem;
            }
        }
    }
}