@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenido-principal{
    @include m.gridRow(4, 1rem);
    .producto{
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        
    }
}
.contenido-grid{
    @include m.gridTest(2rem);
    .producto{
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        
    }
}
.header-producto{
    .logo-texto{
        margin-bottom: 1rem;
    }
}
.producto__imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .border-descuento{
        text-decoration: line-through;
    }
    .font-descuento{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .font-precio{
        font-size: 2rem;
    }
}
.descripcion-producto{
    .descripcion-manga{
        line-height: 1.5;
    }
}
.producto-badge{
    p span{
        padding: 1rem 2rem;
        background-color: v.$naranja;
        border-radius: 1rem;
        color: v.$blanco;
    }
}
.producto-precio{
    margin-top: 2rem;
    .producto-existencia{
        padding: 1rem 2rem;
        background-color: v.$verde;
        border-radius: 1rem;
        color: v.$blanco;
    }
}
.producto-detalle{
    ul li{
        margin-bottom: .5rem;
        text-align: center;
    }
}